body {
  font-family: 'Arial', sans-serif;
}

header {
  margin-bottom: 50px;
}

#hero {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#about, #updates, #support {
  text-align: center;
}

#about h2, #updates h2, #support h2 {
  margin-bottom: 20px;
}
