nav {
  background-color: #4a784aa2;
}

.dropdown-menu {
  background-color: #4a784aa2;
}

.singOut {
  color: #4a784a;
}

.singOut:hover {
  scale: 1.05;
  color: green;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.column-left {
  flex: 0.1;
  margin: 10px;
  padding-left: 20px;
  justify-content: center;
}

.recolector-info {
  flex: 0.7;
  width: 100%;
  margin: 10px;
}

.header-info-calendar {
  width: 100%;
  padding: 10px;
  display: none;
  background-color: #4a784a;
  border-radius: 10px;
  margin-bottom: 15px;
}

.header-info-calendar p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.recolectors-day {
  width: max-content;
  display: flex;
  justify-content: center;
}

.recolector-calendar {
  width: 100%;
}

.card-body,
.card-header {
  background-color: #4a784a;
}

.informes {
  flex: 0.55;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.informe-info {
  width: 90%;
  margin-top: 8px;
  padding: 20px;
  color: black;
  border-radius: 10px;
  background-color: white;
}

.generateInforme {
  padding: 10px;
  display: flex;
  border-radius: 8px;
  margin-bottom: 15px;
  justify-content: center;
  background-color: #4a784a;
}

.generateInforme img {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.column-info {
  width: 100%;
  margin: 8px;
  justify-content: space-evenly;
}

.column-info span {
  font-size: 1.45rem;
}

.column-info a {
  color: black;
}

.cardHistorialInfome {
  display: flex;
  padding: 10px;
  margin-top: 10px;
  background-color: #4a784a;
  border-radius: 10px;
}

.cardHistorialInfome:hover {
  transform: scale(1.02);
  background-color: #5b784ae3;
}

.cardHistorialInfome img {
  padding: 2px;
  margin-right: 10px;
}

.dropdown {
  width: 90%;
  padding: 5px;
  color: black;
  margin-bottom: 5px;
}

.dropdown.active .dropdown-list {
  display: block;
}

.dropdown:hover .dropdown-list {
  box-shadow: 0 0 3px rgb(0, 0, 0);
}

.dropdown-select {
  width: 100%;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.dropdown-select i {
  transition: 0.3s;
}

.dropdown.active .dropdown-select i {
  transform: rotate(-180deg);
}

.dropdown-list {
  width: 12%;
  right: 5.5%;
  padding: 5px;
  display: none;
  position: fixed;
  margin-top: 5px;
  border-radius: 5px;
  background-color: white;
}

.dropdown-list__item {
  padding: 5px 16px;
  margin: 5px 0px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown-list__item:hover {
  color: white;
  background-color: #2d631daf;
}

#loading-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

#loading-message {
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  padding-top: 10px;
  position: absolute;
  border-radius: 25px;
  justify-content: center;
  background-color: #4a784a;
  transform: translate(-50%, -50%);
}

.loading {
  width: 120px;
  height: 40px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.texto-cargando {
  color: white;
  font-size: 25px;
}

.pelotas {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  animation: salto .5s alternate infinite;
}

.pelotas:nth-child(2) {
  animation-delay: .18s;
}

.pelotas:nth-child(3) {
  animation-delay: .37s;
}

@keyframes salto {
  from {
    transform: scaleX(1.25);
  }

  to {
    transform:
      translateY(-30px) scaleX(1);
  }
}

.filter {
  background-color: #4a784a;
  border-radius: 10px;
  padding: 10px 0px 10px 20px;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.filter span {
  font-size: 1.48rem;
}