:root {
  --color-red: #FF0011;
  --color-dark-tan: #780d0d;
  --color-Thunderbird-Ligth: #E4C70714;
  --color-thunderbird: #b12d1b;
  --color-cinnabar: #e63933;
  --color-tom-thumb: #345733;
  --color-hippie-green: #4a784a;
  --color-Ligth-Green: #3878254a;

  --color-transparent: #00000000;
  --color-dark: #434342;
  --color-gray: #6B6969;
  --color-gray-ligth: #E7E7E7;
  --color-black: #000000;
  --color-white: #FFFFFFFF;

  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #f0f0f0;
  --light-text: #151426;
  --light-btn: #9796f0;
  --blue: #0000ff;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}