.calendar {
  height: 660px;
  width: max-content;
  overflow: hidden auto;
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 20px 50px 0;
  background-color: rgba(255, 255, 255, 0.719);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calendar::-webkit-scrollbar {
  width: 4px;
}

.calendar-header {
  display: flex;
  padding: 10px;
  color: white;
  font-weight: 700;
  align-items: center;
  background: #4a784a;
  justify-content: space-between;
  border-radius: 10px 10px 0px 0px;
}

.calendar-body {
  pad: 10px;
}

.calendar-week-days {
  display: grid;
  cursor: pointer;
  font-weight: 600;
  color: rgb(17, 17, 17);
  grid-template-columns: repeat(7, 1fr);
}

.calendar-week-days div {
  height: 50px;
  display: grid;
  place-items: center;
}

.calendar-week-days div:hover {
  color: black;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
}

.calendar-days {
  gap: 2px;
  display: grid;
  color: black;
  margin-top: -30px;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-days div {
  width: 37px;
  height: 33px;
  padding: 5px;
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
  animation: to-top 1s forwards;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #3878254a;
  border-radius: 20%;
  color: #f8fbff;
}

.calendar-days div.current-date,
.calendar-days div.current-date-color {
  color: #f8fbff;
  border-radius: 20%;
}

.calendar-days div.current-date {
  background-color: #4a784a;
}

.calendar-days div.current-date-color {
  background-color: #3878254a;
}

.calendar-footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.month-picker {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
}

.month-picker:hover {
  background-color: #f0f0f0;
  color: #4a784a;
}

.month-list {
  left: 0;
  gap: 5px;
  top: -10px;
  display: grid;
  color: white;
  position: relative;
  border-radius: 20px;
  background-color: #4a784ada;
  grid-template-columns: repeat(2, auto);
}

.month-list>div {
  display: grid;
  padding: 10px;
  cursor: pointer;
  margin: 5px 10px;
  border-radius: 15px;
  place-content: center;
  transition: all 0.2s ease-in-out;
}

.month-list>div:hover {
  color: #4a784a;
  font-weight: bold;
  transform: scale(0.9);
  background-color: white;
}

.month-list.show {
  visibility: visible;
  pointer-events: visible;
  transition: visibility 0s, opacity 0.6s ease-in-out;
  animation: to-left .71s forwards;
}

.month-list.hideonce {
  visibility: hidden;
}

.month-list.hide {
  animation: to-right 1s forwards;
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  width: 30px;
  height: 30px;
  display: grid;
  cursor: pointer;
  margin: 0px 10px;
  border-radius: 50%;
  place-items: center;
}

.year-change:hover {
  background-color: #61915c9a;
  transform: scale(1.12);
}

#year:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2 ease-in-out;
}

.date-formate {
  margin-top: 6px;
}

.date-time-formate {
  top: 90px;
  color: black;
  position: relative;
  width: max-content;
  height: max-content;
  display: inline-table;
  justify-content: center;
  font-family: Dubai Light, Century Gothic;
}

.date-time-value {
  width: max-content;
  height: max-content;
  display: flex;
  margin-top: 1px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.day-text-formate {
  padding-right: 5%;
  font-size: 1.4rem;
  position: absolute;
  border-right: 3px solid #4a784a;
  font-family: Microsoft JhengHei UI;
}

.time-formate {
  font-size: 1.3rem;
  margin-left: 105px;
  margin-top: 2px;
}

.time-formate.hideTime,
.date-formate.hideTime,
.day-text-formate.hidetime {
  animation: hidetime 1.5s forwards;
}

.time-formate.showtime,
.date-formate.showtime,
.day-text-formate.showtime {
  animation: showtime 1s forwards;
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }

  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}

@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }

  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}

@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }

  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}

@media (max-width:375px) {
  .month-list>div {
    margin: 5px 0px;
  }
}