.container {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  overflow-y: auto;
}

.navbar {
  background-color: #4a784aa2;
}

.singOut {
  color: #4a784a;
}

.singOut:hover {
  scale: 1.05;
  color: green;
}

.column-left {
  flex: 0.1;
  padding-left: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recolector-info {
  flex: 0.7;
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-info-calendar {
  background-color: #4a784a;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: none;
}

.header-info-calendar p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.recolector-calendar {
  width: 55%;
  padding-right: 8px;
  overflow: hidden;
  overflow-y: auto;
}

.recolector-calendar::-webkit-scrollbar {
  width: 4px;
}

.recolector-calendar::-webkit-scrollbar-thumb {
  background-color: rgba(239, 253, 200, 0.39);
  border-radius: 10px;
}

.card-body,
.card-header {
  background-color: #4a784a;
}

.informes {
  flex: 0.55;
  width: 100%;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.generateInforme {
  background-color: #4a784a;
  width: 92%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.generateInforme img {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.column-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-right: 8px;
}

.column-info span {
  font-size: 1.45rem;
}

.column-info a {
  color: black;
}

.cardHistorialInfome {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  background-color: #4a784a;
  border-radius: 10px;
}

.cardHistorialInfome:hover {
  scale: 1.08;
  color: white;
}

.cardHistorialInfome img {
  padding: 2px;
  margin-right: 10px;
}

.informe-info {
  width: 90%;
  padding: 20px;
  color: black;
  border-radius: 10px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}

.dropdown {
  width: 90%;
  padding: 5px;
  color: black;
}

.dropdown.active .dropdown-list {
  display: block;
}

.dropdown:hover .dropdown-list {
  box-shadow: 0 0 3px rgb(0, 0, 0);
}

.dropdown-select {
  display: flex;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.dropdown-select i {
  transition: 0.3s;
}

.dropdown.active .dropdown-select i {
  transform: rotate(-180deg);
}

.dropdown-list {
  width: 12%;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  position: fixed;
  margin-top: 5px;
  right: 6.5%;
  display: none;
}

.dropdown-list__item {
  padding: 5px 16px;
  margin: 5px 0px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown-list__item:hover {
  background-color: #3878254a;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
}

#loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
}