header {
  width: 100%;
  position: relative;
  padding: 5px 2rem;
}

nav {
  height: 60px;
  margin: 15px 0;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e63933a2;
  border-radius: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover {
  color: #b9da9a;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: transform 0.2 ease;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 2rem;
}

.links li:hover {
  transform: scale(1.1);
  color: red;
}

.toggle-btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* Cerrar Sesion */
.singOut {
  background-color: white;
  color: #e63933;
}

.singOut:hover {
  transform: scale(1.05);
  color: red;
}

.singOut:active {
  transform: scale(0.95)
}

/* Dropdow menu */
.dropdown-menu {
  top: 70px;
  height: 0;
  right: 2rem;
  width: 300px;
  overflow: hidden;
  position: absolute;
  border-radius: 10px;
  background: #e63933a2;
  backdrop-filter: blur(15px);
  transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 180px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu .singOut {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Responsive */
@media (max-width: 992px) {
  nav .links,
  nav .singOut {
    display: none;
  }

  nav .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}



