@import '../assets/colors/colors.css';

.navbar {
  margin: 8px;
}

.container {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.colum-left, .colum-rigth {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.colum-left {  
  margin: 25px 10px 15px 10px;
}

.colum-rigth {
  margin: 25px 50px 10px 10px;
}

.scroll-bar {
  width: 55%;
  padding: auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  padding-right: 12px;
  overflow: hidden;
  overflow-y: auto;
}

.scroll-bar::-webkit-scrollbar {
  width: 4px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgba(253, 200, 200, 0.39);
  border-radius: 10px;
}

.title-information {
  display: none;
  background-color: var(--color-cinnabar);
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.title-information h1 {
  margin-bottom: 5px;
}

.card-left {
  align-items: center;
}

.card-left:hover {
  scale: 1.05;
  color: var(--color-cinnabar);
}

/* Anco del Car View de los recolectores */
.recolectors{
  width: 80%;
}

.left {
  align-items: start;
}

.information-recolector{
  width: 100%;
}

