@import '../assets/colors/colors.css';

@font-face {
  font-family: 'Confortaa';
  src: url('../assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Confortaa', sans-serif;
  text-align: center;
}

body {
  background-image: url(../assets/images/background_main.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh; /* desenfocar imagen */
  color: #ffff;
  overflow: hidden;
}

.container {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column-left, .column-center, .column-right {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.column-left {
  margin-bottom: 50px;
}

.column-center {
  margin: 25px 10px;
}

.column-right {
  margin: 10px;
}

/*  Card de seleccion */
.card {
  width: 75%;
  margin-top: 15px;
  background-color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  scale: 1.05;
  color: white;
}

.card-header {
  padding: 10px;
  width: 100%; /* Ancho del título */
  color: var(--color-white);
}

.card-body {
  padding: 20px 15px 20px 15px;
  font-weight: bold;
  font-size: medium;
  color: black;
}

.recoleccion-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; /* Esquinas redondeadas */
  background-color: #ff0000; /* Color de fondo rojo */
}

.informe-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; /* Esquinas redondeadas */
  background-color: green;
}

.price {
  width: 75%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: var(--color-cinnabar);
  border-radius: 20px;
}