body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
}

.column-left,
.column-right {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.card {
  width: 45%;
  margin: 10px auto;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  scale: 1.05;
  color: white;
}

.card-header {
  flex-direction: column;
  padding: 10px;
  width: 100%;
  color: white;
}

.card-body {
  padding: 20px 15px 20px 15px;
  font-weight: bold;
  font-size: large;
  color: black;
  background-color: white;
}

.recoleccion-header,
.informe-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.recoleccion-header {
  background-color: #ff0000;
}

.informe-header {
  background-color: green;
}

.precios {
  display: flex;
  height: 30%;
}

.price {
  width: 50%;
  padding: 5px;
  margin: 18px 8px;
  background-color: #e63933;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.price p {
  font-size: 23px;
  font-weight: bold;
  padding: 2px;
}

.lotes {
  width: auto;
  margin: 10px 8px;
}

.container-lotes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll-view {
  width: 100%;
  min-height: 300px;
  max-height: 450px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.show-lotes {
  width: 100%;
  background-color: white;
  color: black;
  padding: 8px 10px;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.show-lotes p {
  margin-bottom: 6px;
  font-size: 25px;
  font-weight: bolder;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media (max-height:650px),
(max-width: 1120px) {
  .scroll-view {
    height: 85%;
  }

  .card {
    width: 75%;
    margin: 10px auto;
  }
}


@media (max-width: 750px) {
  .container {
    flex-direction: column-reverse;
  }

  .column-left,
  .column-right {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }

  .column-right {
    max-height: calc(100vh - 200px);
  }

  .price,
  .lotes {
    width: 90%;
    max-width: 100%;
  }

  .price {
    display: flex;
    flex-direction: column;
    height: 125%; 
  }

  .lotes {
    margin-top: 60px;
  }

  .card {
    width: 75%;
    margin: 10px auto;
  }
}